<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="visaUrl" value="https://sandbox.api.visa.com/" />
    <add key="cert" value="c:\myapp_keyAndCertBundle.p12" />
    <add key="password" value="qKJR0LW0219013QC36jPl53DMU7iQHBl0Ln2e" />
    <add key="certPassword" value="123456" />
    <add key="userId" value="OBRR5EEVQIT4MZN3I8JM2138ySlRDZrTP9dgtqBYOfNtw9oEc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
